
<div class="sideBar">
    <ul>
        <li>
            <a href="@Url.RouteUrl("list_personne")"> <i class="material-icons">supervisor_account</i>
                 <span class="libelle-nav"> Utilisateurs </span>

            </a> 

        </li>
        <li>
           <a href="@Url.RouteUrl("list_formation")"> <i class="material-icons">school</i> 
              <span class="libelle-nav"> Gestion des formations </span>

           </a> 

        </li>
        <li>
           <a href="@Url.RouteUrl("list_cursus")"> 
               <i class="material-icons">bookmark</i>
               <span class="libelle-nav">  Gestion des cursus </span>

           </a>

        </li>
        <li>
           <a href="#"> <i class="material-icons">location_on</i> 
                <span class="libelle-nav">  Gestion Sites </span>

           </a>

        </li>
        <li>
            <a href="#"> <i class="material-icons">chevron_left</i> 
                 <span class="libelle-nav">  Retour au site </span>

            </a>

        </li>  

    </ul>

</div>
