
<div class="sideBar">
    <ul>
        <li>
           <a href="#"> <i class="material-icons">school</i> 
              <span class="libelle-nav"> Mes Formations </span>

           </a> 

        </li>
        <li>
           <a href="@Url.RouteUrl("Planning")"> <i class="material-icons"><i class="material-icons">perm_contact_calendar</i></i> 
                <span class="libelle-nav">  Mon planning </span>

           </a>

        </li>
        <li>
            <a href="#"> <i class="material-icons">chevron_left</i> 
                 <span class="libelle-nav">  Retour au site </span>

            </a>

        </li>  

    </ul>

</div>
