body {
    font-family: 'Roboto', sans-serif;
    color: #232323;
    background-color: #fff;
}
a.btn-large .material-icons {
   vertical-align: middle;
   padding-right: 5px;
}

.app {
    margin-top: 50px;
}