@model IEnumerable<GestionEni.Models.Cursus>
@{
    ViewBag.Title = "Formation";
}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                      <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4> Eni Ecole </h4>
                <hr />
                <p class="left-align light">
               Créée en 1981, ENI Ecole Informatique a acquis une renommée nationale dans la formation d'informaticiens. En contact permanent avec les entreprises du secteur numérique, les entreprises régionales et nationales, ENI Ecole Informatique propose ainsi à ses étudiants des formations techniques de qualité visant certes des diplômes mais aussi et surtout l'emploi. L'école est agréée par les éditeurs (Microsoft, Oracle, Cisco). 
            </p>
            </div>
            <div class="col s12 center listFormation">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4> Nos Cursus </h4>
                <hr />
                 @if (Model != null &&  Model.Count() > 0)
                    {
                     foreach (GestionEni.Models.Cursus c in Model)
                     {
                      <div class="col s12 m6">
                        <div class="card formation">
                            <div class="card-content">
                             <span class="card-title libelle">@c.niveauEtude : @c.libelle</span>
                                <hr />
                               @Html.Raw(@c.description)
                            </div>
                          </div>
                        </div>
                    }
                 }
                   
                </div>
            </div>
        </div>
</div>


