@model IEnumerable<GestionEni.Models.Formation>
@{
    ViewBag.Title = "Formation";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

        <h4 class="header">Gestion des formation
             <a href="@Url.RouteUrl("create_personne")" class="btn-floating btn waves-effect waves-light red right"><i class="material-icons">add</i></a>
           </h4>
        <hr />
        
          <table class="responsive-table">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>libelle</th>
                      <th>Site</th>
                      <th>Cursus</th>
                  </tr>
                </thead>

                <tbody>
                     @foreach (GestionEni.Models.Formation f in Model)
                     {
                  <tr>
                    <td>@f.libelle</td>
                    <td>@f.Site1.ville</td>
                    <td>@f.Cursus1.libelle</td>
                    <td>   
                       <a class="btn-floating btn blue">
                           <i class="material-icons">search</i>
                        </a> 
                        <a class="btn-floating btn green">
                            <i class="large material-icons">mode_edit</i>
                        </a>
                        <a class="btn-floating btn red">
                            <i class="material-icons">delete</i>
                        </a>

                    </td>

                  </tr>
                     }
                </tbody>
        </table>
