<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">

        <h4> Connexion </h4>
      <div class="card">
        <div class="card-content">
          
          <form>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Pseudo de l'application" id="firstname" type="text" class="validate">
                <label for="firstname" class="active"> Login</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Mot de passe" id="lastname" type="password" class="validate">
                <label for="lastname" class="active">Password</label>
              </div>
            </div>
          </form>
        </div>
        <div class="card-action">
          <input type="submit" class="btn indigo" value="Se connecter">
        </div>
      </div>
    </div>
      </div>
    </div>